# Charge only mode configuration
import /vendor/etc/init/hw/init.mmi.charge_only.rc

on post-fs
    # MOT_LED_CALIBRATION
    chown camera /mnt/vendor/persist/camera/mot_ledcal

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules exfat

#Enable qpnp_smbcharger_mmi debug
    write /sys/module/qpnp_smbcharger_mmi/parameters/debug_enabled Y

