on init
    # LiveDisplay sysfs
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dsi_display_acl
    chmod 0660 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dsi_display_acl
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dsi_display_cabc
    chmod 0660 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dsi_display_cabc
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dsi_display_hbm
    chmod 0660 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dsi_display_hbm
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dsi_display_dc
    chmod 0660 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dsi_display_dc

service vendor.livedisplay-hal-2-1 /vendor/bin/hw/vendor.lineage.livedisplay@2.1-service.motorola_lahaina
    class late_start
    user system
    group system
